@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body {
    background: url('../blur.png') fixed top center no-repeat black;
    background-size: 100% 300px;
    font-family: "Unica One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 0.5rem;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a::after {
    content: '_';
    display: inline-block;
    width: 0.5rem;
    -webkit-animation: blinkCursor 0.5s infinite;
    -moz-animation: blinkCursor 0.5s infinite;
    -o-animation: blinkCursor 0.5s infinite;
    animation: blinkCursor 0.5s infinite;
}

* {
        transition: all 0.3s ease-in-out;
}

@-webkit-keyframes blinkCursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes blinkCursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes blinkCursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blinkCursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

a:hover {
    background-color: white;
    color: black;
}

h1 {
    font-weight: normal;
    font-size: 12vw;
    letter-spacing: -1vw;
    margin-left: -1vw;
}

div {
    display: block;
}