@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unica+One&display=swap');

body {
    background: url('../blur.png') fixed top center no-repeat black;
    background-size: 100% 300px;
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 0.5rem;
    color: white;
}

div {
    display: block;
}

*:not(h1) {
    transition: all 0.3s ease-in-out;
}

.header {
    display: block;
    position: relative;
    left: 0;
    top: 0;
}

.links {
    display: block;
    position: relative;
    left: 0;
    top: 0;
}

a {
    color: white;
    text-decoration: none;
}

a::after {
    content: '_';
    -webkit-animation: blinkCursor 0.5s infinite;
    -moz-animation: blinkCursor 0.5s infinite;
    -o-animation: blinkCursor 0.5s infinite;
    animation: blinkCursor 0.5s infinite;
}

a:hover {
    background-color: white;
    color: black;
}

@-webkit-keyframes blinkCursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes blinkCursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes blinkCursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blinkCursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

h1 {
    font-family: "Unica One", sans-serif;
    font-weight: normal;
    font-size: 12vw;
    letter-spacing: -1vw;
    margin-left: -1vw;
}

/* END */